<div ng-controller="myApp.Companies.editCompaniesCtrl">
    <form name="forma">
        <div class="form-group col-lg-2">
            <span >Company Name</span>
            <input name="companyName" size="20" placeholder="Company Name" ng-model="editCompany.companyName">
        </div>
        <div class="form-group col-lg-2">
            <span>Address Company</span>
            <input name="addressCompany" size="20" placeholder="Address Company" ng-model="editCompany.addressCompany">
        </div>
        <div class="form-group col-lg-2">
            <span>Company Mail</span>
            <input name="companyMail" size="20" placeholder="Company Mail" ng-model="editCompany.companyMail">
        </div>
        <div class="form-group col-lg-2">
            <span>Year Foundation</span>
            <input  name="yearFoundation" size="20" placeholder="Year Foundation" ng-model="editCompany.yearFoundation">
        </div>
        <div class="form-group col-lg-2">
            <span>Workers</span>
            <input type="email" name="workers" size="20" placeholder="Workers" ng-model="editCompany.workers">
        </div>
        <div class="form-group col-lg-3 buttons">
            <a ui-sref="companies" type="button" class="button-close"  ng-click="saveCompany(editCompany)"><i class="fa fa-floppy-o fa-2x"></i></a>
            <a ui-sref="companies" type="button" class="button-close" ng-click="openCompanyForm()"><i class="fa fa-times fa-2x"></i></a>
        </div>
    </form>
</div>
