<div ng-controller="myApp.Users.editUsersCtrl">
  <form name="editUserForm">

    <div class="form-group col-lg-2" ng-class="{'has-error': isShowErrors(editUserForm, 'firstName')}">

      <span ng-hide="isShowErrors(editUserForm, 'firstName')">First Name</span>

      <div class="span-error" ng-messages="editUserForm.firstName.$error"
           ng-show="isShowErrors(editUserForm, 'firstName')">
        <span ng-message="required">First Name is required</span>
        <span ng-message="minlength">First Name is too short</span>
        <span ng-message="maxlength">First Name is too long</span>
      </div>

      <input name="firstName" size="20" placeholder="First Name"
             ng-model="editUser.firstName" ng-required="true" ng-minlength="3" ng-maxlength="10" class="first-name">
    </div>

    <div class="form-group col-lg-2" ng-class="{'has-error': isShowErrors(editUserForm, 'lastName')}">

      <span ng-hide="isShowErrors(editUserForm, 'lastName')">Last Name</span>

      <div class="span-error" ng-messages="editUserForm.lastName.$error"
           ng-show="isShowErrors(editUserForm, 'lastName')">
        <span ng-message="maxlength">Last Name is too long</span>
      </div>

      <input name="lastName" size="20" placeholder="Last Name"
             ng-model="editUser.lastName" ng-maxlength="10">
    </div>

    <div class="form-group col-lg-2">

      <span>Birth Day</span>

      <input date-picker type="text" ng-model="editUser.birthDay" placeholder="Birth Day">

    </div>

    <div class="form-group col-lg-2">

      <span>Type</span>

      <select class="form-control select" ng-model="editUser.type">
        <option>user</option>
        <option>admin</option>
      </select>

    </div>

    <div class="form-group col-lg-2">

      <span>Company</span>

      <select class="form-control select" ng-model="editUser.company">
        <option>Samsung</option>
        <option>Lenovo</option>
        <option>Apple</option>
      </select>

    </div>

    <div class="form-group col-lg-2" ng-class="{'has-error': isShowErrors(editUserForm, 'mail')}">

      <span ng-hide="isShowErrors(editUserForm, 'mail')">Email</span>

      <div class="span-error" ng-messages="editUserForm.mail.$error" ng-show="isShowErrors(editUserForm, 'mail')">
        <span ng-message="required">Email required</span>
        <span ng-message="email">Incorrect Email</span>
        <span ng-message="unique-email">exist</span>
      </div>

      <input type="email" name="mail" size="20" placeholder="Mail" ng-model="editUser.mail"
             ng-required="true" class="user-email">
    </div>

    <div class="form-group col-lg-2 buttons">
      <input type="submit" value="" class="button-save" ng-click="saveUser(editUserForm,editUser)"
             ng-disabled="editUserForm.firstName.$dirty && editUserForm.firstName.$invalid || editUserForm.mail.$dirty && editUserForm.mail.$invalid">

      <input type="button" class="button-close" ng-click="openUserForm()">
    </div>

  </form>
</div>
